* {
  margin: 0px;
}
body {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
}
p {
  font-family: "DM Sans", sans-serif;

  color: #79819a;
  font-weight: 400;
}
a {
  text-decoration-line: none;
  text-decoration: none;
  color: #516cf7;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
}
h1 {
  font-size: 1.154rem;

  font-family: "Outfit", sans-serif;
}
h2 {
  font-weight: 500;
  font-size: 1.154rem;
  color: #2e2e48;
}

.side_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 0px 10px 0px;
}
.side_top > div {
  text-align: center;
  padding-top: 10px;
}

.img_profile {
  height: 200px;
  width: 200px;
  overflow: hidden;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  margin: auto;
  transition: all 1.04s ease-out;
}
.img_profile > img {
  object-fit: cover;
}
.img_profile:hover {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  transition: all 1.04s ease-in;
}

.aside_container {
  position: sticky;
  height: 100vh;
  top: 0px;
  width: 28%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 102, 158);
  filter: drop-shadow(0.5rem 0.5rem 0.3rem rgb(0, 120, 184));
  cursor: pointer;
  /* border-right: 2px solid black; */
}
.aside_container:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease-in;
}

.aside_mid {
  padding: 20px;
}

li > div > span {
  color: orange;
}
li > div > span:hover {
  transform: rotate(270deg);
  transition: transform 3 ease;
}

.container {
  display: flex;
  position: relative;
}
.section {
  color: #2e2e48;
  padding: 50px;
  width: 100%;
}
ul {
  position: relative;
}
section > ul > li::before {
  content: "";
  border: 10px solid white;
  border-radius: 50%;

  width: 10px;
  height: 10px;
  z-index: 1000;
  font-size: 20px;
  color: red;
  left: 25px;
  position: absolute;
  background-color: #5531a7;

  box-shadow: 1px 1px 5px 0px rgb(204, 204, 204);
}

.section > ul > li {
  width: 100%;
  border-left: 2px solid;
  border-color: #e2e6ee;
  padding-left: 20px;
  &:last-child {
    border: 0px;
    padding-bottom: 0;
  }
}
.projects {
  padding: 0px 0px 64.65px 32.32px;
}
.project {
  padding: 24.24px;
  display: flex;
  gap: 20px;

  justify-content: space-between;
}
.single_project {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f7f9fc;
}
.single_project:first-child {
  border-radius: 8.08px 0px 0px 8.08px;
}
.single_project:last-child {
  border-radius: 0px 8.08px 8.08px 0px;
}
.all_projects {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
}
.project_desc {
  width: 24.675rem;
}
.project_desc > p {
  font-size: 0.721rem;
  color: #79819a;
  font-weight: 400;
}

.card_link {
  display: flex;
  align-items: center;
  padding: 24.24px;
  padding-top: 0px;
  gap: 10px;
}
.experience_list {
  display: flex;
}
.product_left {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.product_desc > p {
  width: 29.149rem;
  font-size: 10.1px;
  line-height: 13.15px;
  text-align: left;
}
.product_name {
  display: flex;
  margin: 10px 0px;
  gap: 15px;
}
.product_name > div > h3 {
  font-size: 0.866rem;
  color: #79819a;
}

.product_name > div > h2 {
  font-size: 1.01rem;
  color: #2e2e48;
  margin-top: 8px;
}

@media screen and (max-width: 700px) {
  .container {
    flex-direction: column;
  }
  .aside_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  .aside_mid > ul {
    padding: 0px;
    display: flex;
    list-style-type: none;
    text-align: center;
    justify-content: space-around;
  }
}
@media (min-width: 700px) and (max-width: 1200px) {
  .aside_container {
    width: 70%;
  }
}
