* {
  margin: 0px;
}
body {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
}
p {
  font-family: "DM Sans", sans-serif;

  color: #79819a;
  font-weight: 400;
}
a {
  text-decoration-line: none;
  text-decoration: none;
  color: #516cf7;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
}
h1 {
  font-size: 1.154rem;

  font-family: "Outfit", sans-serif;
}
h2 {
  font-weight: 500;
  font-size: 1.154rem;
  color: #2e2e48;
}

.side_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.side_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 0px 10px 0px;
}
.side_top > div {
  text-align: center;
  padding-top: 10px;
}

.profile_name > h1 {
  font-size: 2.309rem;
  font-weight: 500;
}
.profile_name > h2 {
  font-size: 1.731rem;
  font-weight: 500;
  background: linear-gradient(90deg, #a478e8 0%, #516cf7 100%);

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.motivation {
  padding: 20px 0px;
  /* border-bottom: 2px solid #e2e6ee; */
}
.motivation > h1 {
  color: #47516b;
  font-weight: 500;
  font-size: 1.299rem;
  text-align: center;
  width: 15rem;
}
.motivation > h1::before {
  content: url("/images/quote/left.png");
  position: relative;
  top: -10px;
  left: -10px;
}
.motivation > h1::after {
  content: url("/images/quote/right.png");
  position: relative;
  top: -10px;
  right: -20px;
}
.experience ul,
.experience li {
  padding: 10px;
}
.motivation > p {
  font-size: 0.866rem;
  font-weight: 400;
  margin-top: 10px;
  margin-left: 12px;
}
.img_profile > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
img {
  object-fit: contain;
}
.aside_container {
  position: sticky;
  display: flex;
  flex-direction: column;
  height: 100%;
  top: 0px;
  width: 28%;
  background-color: #f7f9fc;
  overflow-y: auto;
}
.contacts {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
  width: 50%;
}
.contacts {
  border-top: 2px solid #e2e6ee;
}
/* .contacts:not(:last-child) {
  border-bottom: 2px solid #e2e6ee;
} */
.contact {
  display: flex;
  gap: 15px;
  width: 100%;
}
.contact_details {
  display: flex;
  flex-direction: column;
}
.contact_details > p:last-child {
  color: #47516b;
}
.container {
  display: flex;
  position: relative;
}
.section {
  color: #2e2e48;
  padding: 4.618rem;
}
ul {
  position: relative;
}
.section > ul > li::before {
  content: "";
  border: 10px solid white;
  border-radius: 50%;

  width: 10px;
  height: 10px;
  z-index: 1000;
  font-size: 20px;
  color: red;
  left: 25px;
  position: absolute;
  background-color: #5531a7;

  box-shadow: 1px 1px 5px 0px rgb(204, 204, 204);
}

.section > ul > li {
  list-style: none;
  border-left: 2px solid #e2e6ee;
  padding-left: 20px;
}

.section > ul > li:last-child {
  border-left: none;
  padding-bottom: 0;
}
.projects {
  padding: 5px 0px 64.65px 32.32px;
}
.project {
  padding: 24.24px;
  display: flex;
  gap: 20px;
  width: 21.212rem;

  justify-content: space-between;
}
.single_project {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f7f9fc;
  width: 100%;
}
.single_project:first-child {
  border-radius: 8.08px 0px 0px 8.08px;
}
.single_project:last-child {
  border-radius: 0px 8.08px 8.08px 0px;
}
.all_projects {
  padding: 20px 0px;
  display: flex;
  gap: 20px;
}
.project_desc {
  width: 24.675rem;
}
.project_desc > p {
  font-size: 0.721rem;
  color: #79819a;
  font-weight: 400;
  margin-top: 5px;
}

.card_link {
  display: flex;
  align-items: center;
  padding: 24.24px;
  padding-top: 0px;
  gap: 10px;
}
.experience_list {
  display: flex;
}
.product_left {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.product_desc > p {
  width: 29.149rem;
  font-size: 10.1px;
  line-height: 13.15px;
  text-align: left;
}
.product_name {
  display: flex;
  margin: 10px 0px;
  gap: 15px;
}
.product_name > div > h3 {
  font-size: 0.866rem;
  color: #79819a;
}

.product_name > div > h2 {
  font-size: 1.01rem;
  color: #2e2e48;
  margin-top: 8px;
}
.education_top {
  display: flex;
  align-items: center;
  gap: 15px;
}
.all_education {
  display: flex;
  justify-content: space-between;
  padding: 30px 0px 48.48px 0px;
}

.education_desc {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.education_desc > p {
  margin-top: 3px;
}
.single_education {
  flex-grow: 0.2;
  width: max-content;
  background-color: #f7f9fc;
  padding: 16.16px 24.24px 16.16px 24.24px;
  border-radius: 8.08px 0px 0px 8.08px;
}
.single_skill {
  display: flex;
  align-items: center;
  color: #9251f7;
}
.skill_right {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 80%;
}
.skill_left {
  width: 20%;
}
.design {
  width: 5.971rem;
  align-items: center;
  color: #9251f7;
  background-color: #f7f9fc;
}
.all_skills {
  padding: 30px 0px 48.48px 0px;
}
.skill_design .last {
  border-left: 2px solid #e2e6ee;
}
.skill_right > h2,
ul {
  text-align: left;
}

.skill_design {
  height: 70px;
  width: 100%;
  padding: 20px;
  display: flex;

  text-align: center;
  background-color: #f7f9fc;

  justify-content: center;
  color: #9251f7;
  align-items: center;
}

.design > ul > li {
  font-weight: 500;
  font-size: 1.154rem;
}
.devl > ul > li {
  font-weight: 500;
  font-size: 1.154rem;
}
.devl {
  color: #516cf7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 5.975rem;
  width: 6.451rem;
  padding: 1.154rem;
  background-color: #f7f9fc;
}
.dev {
  margin: 20px 0px;
  width: 100%;
}
.devl > ul > li {
  color: #516cf7;
  text-align: left;
}
.skill_devlop {
  display: flex;

  padding: 20px;
  background-color: #f7f9fc;
}
.devlop {
  display: flex;
  padding: 20px;
  color: #516cf7;
}
.skill_devloper {
  display: flex;
}
.devl2 {
  color: #516cf7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 5.975rem;
  width: 6.451rem;
  background-color: #f7f9fc;
}

.skill_devlop .last {
  border-left: 2px solid #e2e6ee;
}
.skill_devloper .last {
  border-left: 2px solid #e2e6ee;
}
.top_last {
  width: 50%;
  border-top: 2px solid #e2e6ee;
}
.tool {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.154rem;
  background-color: #f7f9fc;
  border-radius: 8.08px 0px 0px 0px;
  width: 12.049rem;
  height: 9.235rem;
}
.tool > h2,
.tool2 > h2 {
  margin-top: 8px;
}
.all_tools {
  display: flex;
  flex-direction: column;
  gap: 8.08px;

  padding: 30px 0px 48.48px 0px;
}
.second_tool {
  display: flex;
  gap: 8.08px;
  justify-content: center;
  align-items: center;
}
.prod_img {
  margin: 0px 3px 0px 3px;
  object-fit: contain;
  width: 10px;
}
.tool2 {
  height: 8.081rem;
  width: 9.524rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.154rem;
  background-color: #f7f9fc;
  border-radius: 8.08px 0px 0px 0px;
}
.skill_devl > ul {
  width: 100%;
}
.single_tools {
  width: 80%;
  display: flex;
  gap: 8.08px;
  justify-content: start;
  flex-wrap: wrap;
}
@media screen and (max-width: 700px) {
  .devl2 {
    width: 7.3rem;
  }
  .devl {
    width: 56%;
  }
  .contacts {
    width: 80%;
  }
  .section > ul > li {
    padding: 0;
  }
  .section > ul {
    padding: 20px;
  }
  .section {
    padding: 30px 0 0 0;
  }
  .section > ul > li::before {
    left: 5px;
  }
  .projects {
    width: 90%;
  }
  .project {
    gap: 8px;
    width: 90%;
  }
  .all_projects {
    flex-direction: column;
    gap: 5px;
  }
  .experience_list {
    flex-direction: column;
  }
  .product_desc > p {
    width: auto;
  }
  .product_name > div > h2 {
    margin-top: 1px;
  }
  .all_education {
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }
  .single_education {
    width: auto;
  }
  .skill_design {
    width: 57%;
  }
  .single_skill {
    align-items: start;
  }
  .skill_right {
    flex-direction: column;
  }
  .container {
    flex-direction: column;
  }
  .aside_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  .tool,
  .tool2 {
    padding: 20px;
    width: 5rem;
    height: 8rem;
  }
  .single_tools,
  .second_tool {
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
  .aside_mid > ul {
    padding: 0px;
    display: flex;
    list-style-type: none;
    text-align: center;
    justify-content: space-around;
  }
  @media (min-width: 701px) and (max-width: 1200px) {
    .aside_container {
      width: 100%;
    }
  }
}
